:root {
  --light-green: #f3fcff;
  --lighter-dark-green: #003d47;
  --light-blue: #90e3ff;
  --dark-green: #002d35;
  --shadow-light: #bceeff;
  --white: white;
  --black: black;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.page-div {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  display: flex;
}

.main-body {
  background-color: var(--light-green);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.api-module {
  max-height: 20rem;
  max-width: 35rem;
  min-height: 20rem;
  min-width: 35rem;
  background-color: var(--light-green);
  border: 2px solid #ff66c4;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1.5rem 3rem;
  display: flex;
  position: relative;
  overflow: visible;
}

.prompt-holder {
  background-color: var(--lighter-dark-green);
  box-shadow: 0 0 100px -20px var(--light-blue);
  color: var(--light-green);
  border: 1px solid rgba(255, 255, 255, .21);
  border-radius: 7px;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.api-form-block {
  width: 100%;
  height: 100%;
  max-width: 35rem;
  min-width: 35rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 1.5rem;
  display: flex;
}

.api-form {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.input {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  padding: .3rem .75rem;
  font-size: 6px;
}

.input-field {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 0 rgba(0, 0, 0, 0);
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 300;
}

.input-field::-ms-input-placeholder {
  color: var(--light-green);
}

.input-field::placeholder {
  color: var(--light-green);
}

.form-button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--dark-green);
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, .21);
  justify-content: center;
  align-items: center;
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: 15px;
  font-weight: 400;
  transition: background-color .2s;
  display: flex;
}

.form-button:hover {
  background-color: var(--lighter-dark-green);
  color: var(--light-green);
}

.div-block-2 {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-blue);
  background-color: var(--light-green);
  border-radius: 5px;
}

.loading-state {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.html-loader {
  color: var(--lighter-dark-green);
  background-color: #f3fcff;
  border-radius: 75px;
  padding: .3rem;
  display: flex;
  position: static;
}

.html-loader.is-absolute {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.html-loader.is-button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--light-green);
  background-color: rgba(243, 252, 255, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.html-loader.is-video {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: var(--light-green);
  background-color: rgba(243, 252, 255, .2);
  border: 1px solid rgba(255, 255, 255, .31);
}

.html-loader.is-image-loader {
  position: absolute;
}

.linear-content-holder {
  z-index: 1;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 42, 56, .1);
  border-radius: 15px 35px 35px 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .4rem .45rem .4rem 1rem;
  display: flex;
  position: absolute;
}

.heading {
  color: var(--light-green);
  mix-blend-mode: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.loading-module {
  max-height: 20rem;
  max-width: 35rem;
  min-height: 20rem;
  min-width: 35rem;
  border: 2px solid #ff66c4;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 1.75;
  object-fit: cover;
}

.response-module {
  max-height: 20px;
  max-width: 35px;
  min-height: 20rem;
  min-width: 35rem;
  background-color: var(--dark-green);
  border: 2px solid #ff66c4;
  border-radius: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.api-form-holder {
  border: 2px solid var(--lighter-dark-green);
  background-color: var(--dark-green);
  box-shadow: 0 2px 100px 1px var(--shadow-light);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  overflow: visible;
}

.response-image {
  max-height: 20px;
  max-width: 35px;
  min-height: 20rem;
  min-width: 35rem;
  background-color: var(--dark-green);
  opacity: 1;
  object-fit: cover;
  border-radius: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.setting-holder {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 45, 53, .5));
  padding: 1.5rem 2rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: var(--light-green);
  background-color: rgba(0, 42, 56, .1);
  border-radius: 7px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: .5rem .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 300;
  transition: background-color .2s;
  display: flex;
}

.button:hover {
  background-color: var(--light-green);
  color: var(--lighter-dark-green);
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.icon-embed-xsmall {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.generator-holder {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.background-video {
  z-index: 1;
  width: 100%;
  color: var(--light-green);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.gif {
  width: 100%;
  height: 21rem;
  background-color: var(--dark-green);
  border: 1px solid #ff66c4;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
  position: relative;
}

.skeleton-loader-image-buffer {
  background-color: rgba(0, 191, 255, .55);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.icon-embed-xsmall-2 {
  width: 1.1rem;
  height: 1.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wized-badge {
  z-index: 1;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border-style: none solid solid;
  border-width: 0 2px 2px;
  border-color: var(--light-blue);
  background-color: var(--dark-green);
  box-shadow: 0 0 50px -7px var(--light-blue);
  color: var(--light-green);
  border-radius: 0 0 13px 13px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .3rem 1rem;
  text-decoration: none;
  transition: color .2s, background-color .2s;
  display: block;
  position: fixed;
}

.wized-badge:hover {
  background-color: var(--lighter-dark-green);
  box-shadow: 0 0 100px 0 var(--light-blue);
  color: var(--light-green);
}

.bold-text {
  padding-left: 2px;
  font-weight: 200;
}

.html-embed {
  width: 7rem;
  color: var(--lighter-dark-green);
}

.html-embed.is-webflow {
  width: 7.5rem;
  height: auto;
  color: var(--dark-green);
}

.html-embed.is-wized {
  width: 5rem;
  height: auto;
  color: var(--dark-green);
  font-weight: 400;
}

.powered-badge {
  z-index: 0;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-style: solid solid none;
  border-width: 2px 1px 0;
  border-color: var(--light-blue);
  background-color: var(--light-green);
  box-shadow: 0 0 50px -7px var(--light-blue);
  color: var(--dark-green);
  border-radius: 13px 13px 0 0;
  flex-direction: row;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  padding: .9rem .75rem .5rem;
  text-decoration: none;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2rem;
}

.color-body {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-image: linear-gradient(#ff66c4, #ff66c4);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: flex;
}

.wized-dev-logo {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 28px;
  font-weight: 300;
}

.warning-message {
  z-index: 1;
  max-width: 20rem;
  border: 1.5px solid var(--light-blue);
  background-color: var(--shadow-light);
  border-radius: 12px;
  margin-bottom: 0;
  margin-left: 0;
  padding: .3rem .3rem .3rem .75rem;
  position: fixed;
  top: auto;
  bottom: 13%;
  left: 3%;
  right: auto;
}

.warning-content-holder {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: var(--lighter-dark-green);
  flex-direction: row;
  align-items: center;
  display: flex;
}

.heading-6 {
  color: var(--lighter-dark-green);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
}

.warning-icon {
  border: 1px solid var(--light-green);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 8px;
  padding: .3rem;
}

.icon-embed-small {
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph {
  margin-bottom: 0;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  font-size: 13px;
}

.close-icon {
  border: 1px solid var(--light-blue);
  background-color: var(--shadow-light);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: var(--lighter-dark-green);
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
  border-radius: 20px;
  padding: .15rem;
  position: absolute;
  top: -.5rem;
  bottom: auto;
  left: auto;
  right: -.5rem;
}

@media screen and (max-width: 479px) {
  .page-div {
    padding: 1.5rem;
  }

  .api-module {
    max-width: 100%;
    min-height: auto;
    min-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .prompt-holder {
    flex-direction: column;
    align-items: stretch;
  }

  .input-field {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-button {
    border-top: 1px solid rgba(255, 255, 255, .21);
    border-left-style: none;
    border-left-width: 0;
  }

  .loading-module {
    max-height: 15px;
    max-width: 100%;
    min-height: 15rem;
    min-width: 100%;
  }

  .image {
    aspect-ratio: 3 / 2.25;
    object-fit: cover;
  }

  .response-module {
    max-height: 15rem;
    max-width: 100%;
    min-height: 15rem;
    min-width: 100%;
  }

  .api-form-holder {
    flex-direction: column;
  }

  .response-image {
    max-height: 15rem;
    max-width: 100%;
    min-height: 15rem;
    min-width: 100%;
    object-fit: cover;
  }

  .color-body {
    padding: 1.5rem;
  }
}


